body{
    background-color:rgb(247, 247, 247) ;
}
/* Parte de cima--------------------------------------------------------------------------- */
#Header {
    /* border: 1px solid black; */
    display: flex;
    width: 1200px;
    height: 80px;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.BtnLogo:hover{
    size: 15px;
    transition: 0.5s;
}

#Login:hover{
    background-color: #b29146;
    font-size: 25px;
    transition: 0.6s;
    border-radius: 5px;
}

#Home:hover{
    background-color: #193454;
    font-size: 25px;
    transition: 0.6s;
    border-radius: 5px;
}

#Imóvel:hover{
    background-color: #b29146;
    font-size: 25px;
    transition: 0.6s;
    border-radius: 5px;
}

#Endereço:hover{
    background-color: #b29146;
    font-size: 25px;
    transition: 0.6s;
    border-radius: 5px;
}

#Logo{
    font-weight: bold;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#193454;
    text-decoration: none;
}

#Header ul {
    display: flex;
    align-items: center;
}

#Header ul li {
    list-style: none;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

#Header ul li a{
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
}

#Logo Span{
    color: #b29146;
}

#imgLogin{
    height: 26px;
    width: 26px;
    display: flex;
    margin-right: 10px;
}

#Login{
    margin-right: 200px;
    color: #193454;
}

#Home{
    color: #b29246;
}

#Contatos{
    color: #193454;
}

#Imóvel{
    color: #193454;
    display: flex;
}

#Endereço{
    color: #193454;
}

/* Imoveis anunciados-------------------------- */

h1, h3, p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1;
    padding: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size: 26px;
    font-weight: bold;
    margin-top: 50px;
}

h3{
    font-size: 18px;
    margin-top: 15px;
}

p{
    font-size: 16px;
    font-weight: bold;
}

#imoveis{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
    text-align: center;
}

#imoveis > div{
    max-width: 31.6%;
}

#imoveis img{
    width: 100%;
}

#imoveis > div a{
    background-color: burlywood;
    text-decoration: none;
    display: block;
    color: white;
    margin-top: 15px;
    padding: 8px 14px;
    border-radius: 8px;
}

.containerIM{
    max-width: 1200px;
    margin: auto;
}
