body,html{
    background-image: url('Img/fundologin2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.site{
    position: relative;
    top: 10%;
    right: -2%;
}  
.login{
    color: white;
    font-size: 60pt;
    text-align: right;
    margin-right: 20%;
    margin-top: 6%;
    font-family: sans-serif;
    text-shadow: 
        5px 5px 0 black,
        5px 5px 0 black,
        5px 5px 0 black,
        5px 5px 0 black;
}
.container-email{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 176vh;
}
.email{
    width: 450px; 
    height: 60px; 
    font-size: 14pt;
    border: 2px solid black;
    border-radius: 25px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    padding: 5px 15px; 
    box-sizing: border-box;
}
.email::placeholder{
    color: black;
    opacity: 0.8;
}
.container-senha{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 176vh;
    margin-top: 30px;
}
.senha{
    width: 450px; 
    height: 60px; 
    font-size: 14pt;
    border: 2px solid black;
    border-radius: 25px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    padding: 5px 15px; 
    box-sizing: border-box;
}
.senha::placeholder{
    color: black;
    opacity: 0.8;
}
.container-checkbox{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 154.5vh;
    margin-top: 10px;
}
.relemb input{
    display: none;
}
.relemb{
    width: 30px;
    height: 20px;
}
.relemb2{
    color: white;
    font-size: 14pt;
    font-family: sans-serif;
    margin-bottom: 1px;
}
.container-botao{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 163vh;
    height: 8vb;
}
.botao-entrar{
    text-decoration: none;
    color: white;
}
.botao{
    height: 50px;
    width: 200px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: #b29246bb;
    font-size: 16pt;
    font-family: verdana;
}
.botao:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.vindo{
    color: white;
    font-size: 75pt;
    position: absolute;
    left: 2%;
    bottom: 60%;
    font-family: sans-serif;
    text-shadow: 
        5px 5px 0 black,
        5px 5px 0 black,
        5px 5px 0 black,
        5px 5px 0 black;
}
.vindo2{
    color: rgb(233, 233, 233);
    text-shadow: 
        3px 3px 0 black,
        3px 3px 0 black,
        3px 3px 0 black,
        3px 3px 0 black;
    font-size: 22pt;
    position: absolute;
    left: 4%;
    bottom: 30%;
    font-family: sans-serif;
}
.face{
    width: 50px;
    position: absolute;
    bottom: 15%;
    left: 13%;
}
.insta{
    width: 50px;
    position: absolute;
    bottom: 15%;
    left: 25%;
}
.youtube{
    width: 50px;
    position: absolute;
    bottom: 17%;
    left: 36%;
}
.esq{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right:400px;
    margin-top: 15px;
}
@media (max-width: 480px) {
    .vindo2{
        display: none;
    }
    .insta{
        display: none;
    }
    .face{
        display: none;
    }
    .vindo{
        display: none;
    }
    .youtube{
        display: none;
    }
    .login{
        position: relative;
        right: 13%;
    }
    .senha{
        position: relative;
        right: 71.5%;
    }
    .email{
        position: relative;
        right: 71.5%;
    }
    .container-checkbox{
        position: absolute;
        right: 48%;
    }
    .botao{
        position:absolute;
        right: 35%;
        bottom: -15%;
    }
    .esq{
        position: absolute;
        left: 19%;
        bottom: -23%;
        width: 200px;
    }
}