
body{
    background-color:rgb(247, 247, 247) ;
}
/* Parte de cima--------------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
}

body{
    background-color:rgb(247, 247, 247) ;
}

a {
    color: #193454;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: fit-content;
}

.logo span{
    color: #b29146;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(247, 247, 247);
    height: 8vh;
    z-index: 100;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    padding-right: 20px;
}

#Login{
    color: #193454;
    font-size: 20px;
}

#Home{
    color: #b29246;
    font-size: 20px;
}

#Imoveis{
    color: #193454;
    font-size: 20px;
}

#Contato{
    color: #193454;
    font-size: 20px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: black;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: rgba(247, 247, 247, 1);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 100;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
    opacity: 0;
    transform: translateX(50px);
    }
    to {
    opacity: 1;
    transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/* Meio do site--------------------------------------------------------------------------------------- */

#Casinha{
    width: 100%;
    height: 500px;
    justify-content:center;
    z-index: 2;
}

#MenuCasa{
    height: 750px;
    width: auto;
    /* border: 1px solid black;  */
}

.containerMenu{
    width: 290px;
    height: fit-content;
    background-color: #314163d5;
    color: white;
    margin: auto;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    padding: 10px 0px;
    top: 350px;
    right: 10%;
    z-index: 0;
}

.containerTextMenu{
    width: 250px;
    height: fit-content;
}

.titulo{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 30px;
    color: white;
}

.lorem{
    font-size: 13px;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 20px;
    color: rgb(231, 229, 229);
    line-height: 19px;
    display: flex;
    flex-wrap: wrap;
}

.preco{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    letter-spacing: -1px;
    color: white;
}

.btn{
    border: 1px solid white;
    background-color: #314163d5;
    color: white;
    width: 180px;
    height: 40px;
    display: flex;
    margin: auto;
    margin-top: 30px;
    border-radius: 2px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}

.btn:hover{
    width: 190px;
    height: 50px;
    transition: 0.5s;
    font-size: 15px;
}

/* Conteudo de casas--------------------------------------------------- */

.container{
    width: 100%;
    margin: auto;
    /* border: 1px solid black; */
    align-items: center;
    display: flex;
    justify-content: center;
}

.container1{
    width: fit-content;
    margin: auto;
    /* border: 1px solid black; */
    display: flex;
}

.casas{
    margin: 10px;
    display: flex;
}

.textcontainer{
    max-width: 900px;
    display: flex;
    flex-direction: column;
}

h1{
    color: #193454;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

h2{
    margin: 10px;
    font-size: 22px;
    color: #193454;
}

h3{
    color: #193454;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

p{
    color: #193454;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: 10px;
}

#casaRuim{
    width:30%;
}

.but{
    /* border: 1px solid black; */
    background-color: #b29246e0;
    color: white;
    width: 180px;
    height: 40px;
    display:flex;
    margin: 10px;
    margin-left: 10px;
    border-radius: 8px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

#Anuncio{
    display:block;
    margin:auto;
    width: 180px;
    height: 55px;
    border: 0px;
    font-size: 1.06em;
    border-radius: 10px;
    background-color: #ac811c;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    text-decoration: none;
}

#Anuncio:hover{
    transition: 0.5s;
    font-size: 20px;
}
/* Avaliação------------------------------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root{
    --primary-color:#193454;
    --primary-color-dark:#1e3d63;
    --text-dark: #333333;
    --white:#ffffff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.AV{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.AV1{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.Avaliacao{
    background-image: url("Img/FundoAV2.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    min-height: 99vh;
    display: flex;
    background-size: contain;
}

.containerAV{
    /* border: 1px solid black; */
    max-width: 1200px;
    height: auto;
    margin: auto;
    padding: 50px 20px;
    display: flex;
    gap: 10rem;
}

.containerAV_esq h1{
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--primary-color)
}

.containerAV_esq h1{
    color: var(--text-dark);
    margin-bottom: 1rem;
}

.ContainerAV_dir{
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.card{
    width: 460px;
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.2);
    cursor: pointer;
}

.card img{
    max-width: 75px;
    border-radius: 100%;
}

.card_container{
    display: flex;
    gap: 1rem;
}

.card_container span i{
    font-size: 2rem;
    color: var(--primary-color);
}

.card_details p{
    font-style: italic;
    color: var(--text-dark);
    margin-bottom: 1rem;
}

.card_details h4{
    text-align: right;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
    
}

/* Responsividade--------------------------------- */

@media (max-width: 1165px) {
    .logo {
        padding-left: 10px;
    }
}

@media (max-width: 1050px) {
    .containerAV {
        flex-wrap: wrap;
        justify-content: center;
    }

    .AV{
        text-align: center;
    }
}

@media (max-width: 750px) {
    #Casinha {
        height: 300px;
    }
    .containerMenu {
        width: 200px;
        top: 100px;
    }
    #MenuCasa {
        height: 500px;
    }

}

@media (max-width: 500px) {
    #Casinha {
        height: 250px;
    }
}