body,html{
    background-image: url('Img/fundologin2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.site{
    position: relative;
    top: 10%;
    right: -2%;
}  
.login{
    color: white;
    font-size: 60pt;
    text-align: right;
    margin-right: 20%;
    margin-top: 6%;
    font-family: sans-serif;
    text-shadow: 
        5px 5px 0 black,
        5px 5px 0 black,
        5px 5px 0 black,
        5px 5px 0 black;
}
.container-email{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 176vh;
}
.email{
    width: 450px; 
    height: 60px; 
    font-size: 14pt;
    border: 2px solid black;
    border-radius: 25px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    padding: 5px 15px; 
    box-sizing: border-box;
}
.email::placeholder{
    color: black;
    opacity: 0.8;
}
.container-senha{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 176vh;
    margin-top: 30px;
}
.senha{
    width: 450px; 
    height: 60px; 
    font-size: 14pt;
    border: 2px solid black;
    border-radius: 25px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    padding: 5px 15px; 
    box-sizing: border-box;
}
.senha::placeholder{
    color: black;
    opacity: 0.8;
}
.container-checkbox{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 145vh;
    margin-top: 10px;
}
.relemb input{
    display: none;
}
.relemb{
    width: 30px;
    height: 20px;
}
.relemb2{
    color: white;
    font-size: 14pt;
    font-family: sans-serif;
    margin-bottom: 1px;
}
.container-botao{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 150vh;
    height: 8vb;
}
.botao{
    height: 50px;
    width: 200px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: #b29246bb;
    font-size: 16pt;
    font-family: verdana;
}
.botao:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.vindo{
    color: white;
    font-size: 75pt;
    position: absolute;
    left: 2%;
    bottom: 60%;
    font-family: sans-serif;
    text-shadow: 
        5px 5px 0 black,
        5px 5px 0 black,
        5px 5px 0 black,
        5px 5px 0 black;
}
.vindo2{
    color: rgb(233, 233, 233);
    text-shadow: 
        3px 3px 0 black,
        3px 3px 0 black,
        3px 3px 0 black,
        3px 3px 0 black;
    font-size: 22pt;
    position: absolute;
    left: 4%;
    bottom: 30%;
    font-family: sans-serif;
}
.face{
    width: 50px;
    position: absolute;
    bottom: 15%;
    left: 13%;
}
.insta{
    width: 50px;
    position: absolute;
    bottom: 15%;
    left: 25%;
}
.youtube{
    width: 50px;
    position: absolute;
    bottom: 17%;
    left: 36%;
}
.esq{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right:523px;
    margin-top: 15px;
}


@media(max-width: 390px) {
    .login {
        font-size: 25pt;
        margin-right: 5%;
        position: absolute;
        left: 40%;
        top: 100%;
        text-shadow: 
        3px 3px 0 black,
        3px 3px 0 black,
        3px 3px 0 black,
        3px 3px 0 black;
    }
    .vindo {
        font-size: 29pt;
        position: absolute;
        left: 5.8%;
        top: 10%;
        text-shadow: 
        3px 3px 0 black,
        3px 3px 0 black,
        3px 3px 0 black,
        3px 3px 0 black;
    }
    .vindo2 {
        font-size: 16pt;
    }
    .email{
        width: 90%;
        height: 45px;
        font-size: 10pt;
        position: absolute;
        left: 8%;
        top: 210%;
    }
    .senha {
        width: 90%;
        height: 45px;
        font-size: 10pt;
        position: absolute;
        left: 8%;
        top: 290%;
    }
    .container-checkbox{
        position: absolute;
        right: 29%;
        top: 320%;
    }
    .botao {
        width: 120px;
        height: 40px;
        font-size: 12pt;
        position: absolute;
        left: 36%;
        top: 450%;
    }
    .face{
        width: 30px;
        position: absolute;
        top: 700%;
        left: 20%;
    }
    .insta {
        width: 30px;
        position: absolute;
        top: 700%;
        left: 48%;
    }
    .youtube {
        width: 30px;
        position: absolute;
        top: 702%;
        left: 75%;
    }
    .esq {
        font-size: 9pt;
        position: absolute;
        top: 480%;
        left: 28%;
        width: 150px;
    }
}

@media(max-width: 1024px) {
    .login {
        font-size: 50pt;
        margin-right: 10%;
        position: absolute;
        bottom: -160%;
        left: 39.5%;
    }
    .vindo {
        font-size: 60pt;
        position: absolute;
        left: 12%;
        top: -50%;
    }
    .vindo2 {
        display: none;
    }
    .email{
        width: 70%;
        height: 55px;
        font-size: 14pt;
        position: absolute;
        left: 15%;
        top: 260%;
    }
    .senha {
        width: 70%;
        height: 55px;
        font-size: 14pt;
        position: absolute;
        left: 15%;
        top: 350%;
    }
    .botao {
        width: 180px;
        height: 45px;
        font-size: 14pt;
        position: absolute;
        left: 41%;
        top: 500%;
    }
    .container-checkbox{
        position: absolute;
        right: 61%;
        top: 400%;
    }
    .face{
        width: 40px;
        position: absolute;
        top: 650%;
        left: 35.5%;
    }
    .youtube {
        width: 40px;
        position: absolute;
        top: 653%;
        left: 60%;
    }
    .insta {
        width: 40px;
        position: absolute;
        top: 650%;
        left: 48%;
    }
    .esq {
        font-size: 10pt;
        width: 150px;
        position: absolute;
        left: 41.9%;
        top: 550%;
    }
}


@media(max-width: 1728px) {
    .login {
        font-size: 60pt;
        margin-right: 19%;
    }
    .vindo {
        font-size: 75pt;
    }
    .vindo2 {
        font-size: 20pt;
        position: absolute;
    }
    .email, .senha {
        width: 450px;
        height: 60px;
        font-size: 16pt;
    }
    .botao {
        width: 200px;
        height: 50px;
        font-size: 16pt;
        position: absolute;
        right: 20%;
        bottom: -13%;
    }
    .container-checkbox{
        position: absolute;
        right: 24%;
    }
    .face, .insta, .youtube {
        width: 50px;
    }
    .esq {
        font-size: 12pt;
        position: absolute;
        right: -6.2%;
        bottom: -20%;
    }
}